<html>
<body>

<h2>AI Health Diagnosis</h2>

<form action="/predict" method="post">

Fever:
<select name="fever">
<option value="1">Yes</option>
<option value="0">No</option>
</select>

<br><br>

Cough:
<select name="cough">
<option value="1">Yes</option>
<option value="0">No</option>
</select>

<br><br>

Breathing Problem:
<select name="breath">
<option value="1">Yes</option>
<option value="0">No</option>
</select>

<br><br>

<button type="submit">Predict Disease</button>

</form>

</body>
</html>